.footer-section {
  background-color: var(--white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 335px;
  height: 172px;
}

.footer-logo {
  justify-content: center;
  padding-top: 20px;
}

.footer-navigation {
  display: block;
}

.footer-navigation .nav-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-link {
  display: block;
  padding-top: 4px;
  padding-bottom: 20px;
  color: #ae1332;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.social-media-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 37px;
}

.social-media-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #ae1332;
}

.social-media-link {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.address-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-link {
  display: block;
  padding: 7px 0;
  color: #ae1332;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 60px;
  }
}
